
.circle-wrap {
  width: 4rem;
  height: 4rem;
  margin: auto;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 40px, 40px, 20px);
}

.circle-wrap .inside-circle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 35px;
  text-align: center;
  margin-top: 3px;
  margin-left: 3px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 10px;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 20px, 40px, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
