.table {
    margin: auto;
    width: 70%;
    border-collapse: collapse;
     tr:hover {
        background-color: #ddd;
    }
}

.table td , .table th {
    
    padding: 8px;
}

.container {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.fa-flag {
    color: #ff0000;
}

.btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    background: var(--black);
    color: var(--white);
    padding: .5rem 1rem;
    height: 2rem;
    border-radius: 5px;
}