.table {
    margin: auto;
    width: 70%;
    border-collapse: collapse;
    font-size: 1.5rem;
     tr:hover {
        background-color: rgb(228, 228, 228);
    }
}

.table td , .table th {
    
    padding: 8px;
}

.container {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.fa-flag {
    color: #51d157;
}

.btn_status {
    outline: none;
    margin:auto;
}
.btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    background: var(--black);
    color: var(--white);
    padding: .5rem 1rem;
    height: 2rem;
    border-radius: 5px;

}